<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Essai</title>


</head>

<body>
<h1>Squelette</h1>
{%  block contenu %}


{% endblock %}

{% block autre %}
    Une autre phrase
{% endblock %}

</body>

</html>